{% extends "management/layout.html" %}
{% load static %}

{% block content %}

<div class="top-bar clearfix">
    <div class="page-title">
        <h4>Overview</h4>
    </div>
</div>

<div class="main-container">
    <div class="container-fluid">
        <div class="row gutter">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="panel panel-grey spacer-sm">
                    <div class="social-details clearfix">
                        <div class="social-icon pull-left">
                            <div class="round-icon red"><i class="icon-timer"></i></div>
                        </div>
                        <div class="social-num">
                            <h4>{{ post_num }}<span class="label red-bg hidden-md">7%</span></h4>
                            <p>Your Total Posts</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="panel panel-grey spacer-sm">
                    <div class="social-details clearfix">
                        <div class="social-icon pull-left">
                            <div class="round-icon tw-icon"><i class="icon-layers2"></i></div>
                        </div>
                        <div class="social-num">
                            <h4>{{ all_num_posts }}<span class="label tw-bg hidden-md">18%</span></h4>
                            <p>Total ByoseHano Posts</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-tw" role="progressbar" aria-valuenow="45"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="panel panel-grey spacer-sm">
                    <div class="social-details clearfix">
                        <div class="social-icon pull-left">
                            <div class="round-icon green-icon"><i class="icon-stars"></i></div>
                        </div>
                        <div class="social-num">
                            <h4>21.8k<span class="label green-bg hidden-md">7%</span></h4>
                            <p>Total Comments</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="72"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 72%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="panel panel-grey spacer-sm">
                    <div class="social-details clearfix">
                        <div class="social-icon pull-left">
                            <div class="round-icon pink-icon"><i class="icon-verified_user"></i></div>
                        </div>
                        <div class="social-num">
                            <h4>109<span class="label pink-bg hidden-md">9+</span></h4>
                            <p>Total Views</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-pink" role="progressbar" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gutter">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-grey">
                    <div class="panel-heading">
                        <h4><span>Locations</span></h4><label class="switch pull-right"><input type="checkbox"
                                class="switch-input" checked="checked"> <span class="switch-label" data-on="On"
                                data-off="Off"></span> <span class="switch-handle"></span></label>
                    </div>
                    <div class="panel-body">
                        <div id="world-map-markers" class="chart-height-lg-x"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}