{% extends "management/layout.html" %}
{% load static %}
{% load humanize %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'user/css/datatables/dataTables.bs.min.css' %}">
<link rel="stylesheet" href="{% static 'user/css/datatables/autoFill.bs.min.css' %}">
<link rel="stylesheet" href="{% static 'user/css/datatables/fixedHeader.bs.css' %}">
{% endblock stylesheets %}

{% block javascripts %}
<script src="{% static 'user/js/datatables/dataTables.min.js' %}"></script>
<script src="{% static 'user/js/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'user/js/datatables/autoFill.min.js' %}"></script>
<script src="{% static 'user/js/datatables/autoFill.bootstrap.min.js' %}"></script>
<script src="{% static 'user/js/datatables/fixedHeader.min.js' %}"></script>
<script src="{% static 'user/js/datatables/custom-datatables.js' %}"></script>
{% endblock javascripts %}

{% block content %}

<div class="top-bar clearfix">
    <div class="page-title">
        <h4>Dynamic Tables</h4>
    </div>
    <ul class="sales-stats hidden-xs">
        <li>
            <div class="sales-block hidden-sm hidden-xs"><span id="sale_today"></span></div>
            <div class="sales-details">
                <h4>$<span>580</span> <i class="icon-arrow-up-right2 up"></i></h4>
                <h5>Today's Income</h5>
            </div>
        </li>
        <li>
            <div class="sales-block hidden-sm hidden-xs"><span id="sale_weekly"></span></div>
            <div class="sales-details">
                <h4>$<span>7235</span> <i class="icon-arrow-down-right2 down"></i></h4>
                <h5>Week's Income</h5>
            </div>
        </li>
    </ul>
</div>
<div class="main-container">
    <div class="container-fluid">

        <div class="row gutter">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h4>All Report Posts</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="responsiveTable" class="table table-striped table-bordered no-margin"
                                cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Published</th>
                                        <th>Status</th>
                                        <th>Views</th>
                                        <th>Comments</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Published</th>
                                        <th>Status</th>
                                        <th>Views</th>
                                        <th>Comments</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for report in post_reports %}
                                    <tr>
                                        <td title="{{ report.title }}">{{ report.title|slice:":50" }}...</td>
                                        <td>
                                            <span class="label label-danger">{{ report.category.name }}</span>
                                        </td>
                                        <td>
                                            {% if report.status == 'published' %}
                                              <label for="" class="label label-info">Published</label>
                                            {% else %}
                                              <label for="" class="label label-warning">Draft</label>
                                            {% endif %}
                                        </td>
                                        <td>{{ report.publish|naturalday }}</td>
                                        <td>{{ report.views }}</td>
                                        <td>{{ report.comments.count }}</td>
                                        <td>
                                            <a href="{{ report.get_absolute_url }}" style="color:green">View post</a> &nbsp; <a href="{% url 'management:edit_post' report.id %}">Edit</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}