{% extends "layout.html" %}
{% load static %}
{% load humanize %}
{% load user_agents %}

{% block metadatas %}
<!-- Primary Meta Tags -->
<title>{{ post.category.name }} - {{ post.title }}</title>
<meta name="title" content="{{ post.category.name }} - {{ post.title }}">
<meta name="description" content="{{ post.body|striptags|slice:':200' }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://byosehano.com{{ post.get_absolute_url }}">
<meta property="og:title" content="{{ post.title }}">
<meta property="og:description" content="{{ post.body|striptags|slice:':200' }}">
<meta property="og:image" content="https://byosehano.com{{ post.thumbnail.url }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://byosehano.com{{ post.get_absolute_url }}">

<meta property="twitter:title" content="{{ post.title }}">
<meta property="twitter:description" content="{{ post.body|striptags|slice:':200' }}">
<meta property="twitter:image" content="https://byosehano.com{{ post.thumbnail.url }}">
{% endblock metadatas %}

{% block dij %}
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f06beeccc9fba0019cdd26e&product=sop' async='async'></script>
{% endblock dij %}

{% block loading_text %}
    <span>{{ post.title|title }}</span>
{% endblock %}

{% block content %}
    <!-- Start News Details Area -->
        <section class="news-details-area ptb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="blog-details-desc">

                            <div class="article-content">
                                <h3>{{ post.title|title }}</h3>
                                <div class="article-image">
                                    <img src="{{ post.thumbnail.url }}" loading="lazy" style="width: 100%;" alt="{{ post.title }}">
                                </div>
                                <span><a href="#">{{ post.author.username|title }}</a> / {{ post.publish|naturalday }} / <a href="#">{{ post.comments.count }} Comment</a></span>
                                <div>
                                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                  <!-- link_article_ase -->
                                  <ins class="adsbygoogle"
                                      style="display:block"
                                      data-ad-client="ca-pub-3242762948116825"
                                      data-ad-slot="5571681914"
                                      data-ad-format="auto"
                                      data-full-width-responsive="true"></ins>
                                  <script>
                                      (adsbygoogle = window.adsbygoogle || []).push({});
                                  </script>
                                    {{ post.body|safe }}

                                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                      <ins class="adsbygoogle"
                                          style="display:block"
                                          data-ad-format="autorelaxed"
                                          data-ad-client="ca-pub-3242762948116825"
                                          data-ad-slot="6139822818"></ins>
                                      <script>
                                          (adsbygoogle = window.adsbygoogle || []).push({});
                                      </script>
                                </div>
                            </div>

                            <div class="article-footer">
                                <div class="article-share">
                                    <ul class="social">
                                        <li><span>Share:</span></li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class='bx bxl-facebook'></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class='bx bxl-twitter'></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class='bx bxl-instagram'></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="post-navigation">
                                <div class="navigation-links">
                                    <div class="nav-previous">
                                        <a href="{{ prev_post.get_absolute_url }}">
                                            <i class='bx bx-chevron-left'></i>
                                            Prev Post
                                        </a>
                                    </div>
                                    <div class="nav-next">
                                        <a href="{{ next_post.get_absolute_url }}">
                                            Next Post
                                            <i class='bx bx-chevron-right'></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="comments-area">
                                <h3 class="comments-title">{{ post.comments.count }} Comments:</h3>

                                <ol class="comment-list">
                                    <li class="comment">
                                        <div class="comment-body">
                                            <footer class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <img src="assets/img/client/client-1.jpg" class="avatar" alt="image">
                                                    <b class="fn">John Jones</b>
                                                </div>
                                                <div class="comment-metadata">
                                                    <a href="index.html">
                                                        <span>April 24, 2020 at 10:59 am</span>
                                                    </a>
                                                </div>
                                            </footer>
                                            <div class="comment-content">
                                                <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
                                            </div>
                                            <div class="reply">
                                                <a href="#" class="comment-reply-link">Reply</a>
                                            </div>
                                        </div>

                                        <ol class="children">
                                            <li class="comment">
                                                <div class="comment-body">
                                                    <footer class="comment-meta">
                                                        <div class="comment-author vcard">
                                                            <img src="assets/img/client/client-2.jpg" class="avatar" alt="image">
                                                            <b class="fn">Steven Smith</b>
                                                        </div>
                                                        <div class="comment-metadata">
                                                            <a href="index.html">
                                                                <span>April 24, 2020 at 10:59 am</span>
                                                            </a>
                                                        </div>
                                                    </footer>
                                                    <div class="comment-content">
                                                        <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
                                                    </div>
                                                    <div class="reply">
                                                        <a href="#" class="comment-reply-link">Reply</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>

                                        <div class="comment-body">
                                            <footer class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <img src="assets/img/client/client-3.jpg" class="avatar" alt="image">
                                                    <b class="fn">Sarah Taylor</b>
                                                </div>
                                                <div class="comment-metadata">
                                                    <a href="index.html">
                                                        <span>April 24, 2020 at 10:59 am</span>
                                                    </a>
                                                </div>
                                            </footer>
                                            <div class="comment-content">
                                                <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
                                            </div>
                                            <div class="reply">
                                                <a href="#" class="comment-reply-link">Reply</a>
                                            </div>
                                        </div>
                                    </li>
                                </ol>

                                <div class="comment-respond">
                                    <h3 class="comment-reply-title">Leave a Reply</h3>

                                    <form class="comment-form">
                                        <p class="comment-notes">
                                            <span id="email-notes">Your email address will not be published.</span>
                                            Required fields are marked
                                        </p>
                                        <p class="comment-form-author">
                                            <label>Name</label>
                                            <input type="text" id="author" placeholder="Your Name*" name="author" required="required">
                                        </p>
                                        <p class="comment-form-email">
                                            <label>Email</label>
                                            <input type="email" id="email" placeholder="Your Email*" name="email" required="required">
                                        </p>
                                        <p class="comment-form-url">
                                            <label>Website</label>
                                            <input type="url" id="url" placeholder="Website" name="url">
                                        </p>
                                        <p class="comment-form-comment">
                                            <label>Comment</label>
                                            <textarea name="comment" id="comment" cols="45" placeholder="Your Comment..." rows="5" maxlength="65525" required="required"></textarea>
                                        </p>
                                        <p class="comment-form-cookies-consent">
                                            <input type="checkbox" value="yes" name="wp-comment-cookies-consent" id="wp-comment-cookies-consent">
                                            <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label>
                                        </p>
                                        <p class="form-submit">
                                            <input type="submit" name="submit" id="submit" class="submit" value="Post a comment">
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <aside class="widget-area">
                            <div class="widget widget_search">
                                <form class="search-form">
                                    <label>
                                        <span class="screen-reader-text">Search for:</span>
                                        <input type="search" class="search-field" placeholder="Search...">
                                    </label>
                                    <button type="submit">
                                        <i class='bx bx-search'></i>
                                    </button>
                                </form>
                            </div>

                            <section class="widget widget_latest_news_thumb">
                                <h3 class="widget-title">Izindi wasoma</h3>

                                {% for post in similar_posts %}
                                    <article class="item">
                                        <a href="#" class="thumb">
                                            <span class="fullimage cover" style="background: url("{{ post.thumbnail.url }}")" role="img"></span>
                                        </a>
                                        <div class="info">
                                            <h4 class="title usmall"><a href="#">{{ post.title }}</a></h4>
                                            <span>{{ post.publish|naturalday }}</span>
                                        </div>
                                    </article>
                                {% endfor %}

                            </section>

                            <section class="widget widget_popular_posts_thumb">
                                <h3 class="widget-title">Facebook Page</h3>
                                <iframe loading="lazy" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbyosehano%2F&tabs=pages&width=340&height=213&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                                width="340" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                allowTransparency="true" allow="encrypted-media"></iframe>
                            </section>

                            <section class="widget widget_most_shared">
                                <h3 class="widget-title">Most shared</h3>

                                <div class="single-most-shared">
                                    <div class="most-shared-image">
                                        <a href="#">
                                            <img src="assets/img/most-shared/most-shared-2.jpg" alt="image">
                                        </a>

                                        <div class="most-shared-content">
                                            <h3>
                                                <a href="#">All the highlights from western fashion week summer 2020</a>
                                            </h3>
                                            <p><a href="#">Patricia</a> / 28 September, 2020</p>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="widget widget_tag_cloud">
                                <h3 class="widget-title">Tags</h3>

                                <div class="tagcloud">
                                    <a href="#">News</a>
                                    <a href="#">Business</a>
                                    <a href="#">Health</a>
                                    <a href="#">Politics</a>
                                    <a href="#">Magazine</a>
                                    <a href="#">Sport</a>
                                    <a href="#">Tech</a>
                                    <a href="#">Video</a>
                                    <a href="#">Global</a>
                                    <a href="#">Culture</a>
                                    <a href="#">Fashion</a>
                                </div>
                            </section>

                            <section class="widget widget_instagram">
                                <h3 class="widget-title">Instagram</h3>

                                <ul>
                                    <li>
                                        <div class="box">
                                            <img src="assets/img/latest-news/latest-news-1.jpg" alt="image">
                                            <i class="bx bxl-instagram"></i>
                                            <a href="#" target="_blank" class="link-btn"></a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="box">
                                            <img src="assets/img/latest-news/latest-news-2.jpg" alt="image">
                                            <i class="bx bxl-instagram"></i>
                                            <a href="#" target="_blank" class="link-btn"></a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="box">
                                            <img src="assets/img/latest-news/latest-news-3.jpg" alt="image">
                                            <i class="bx bxl-instagram"></i>
                                            <a href="#" target="_blank" class="link-btn"></a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="box">
                                            <img src="assets/img/latest-news/latest-news-4.jpg" alt="image">
                                            <i class="bx bxl-instagram"></i>
                                            <a href="#" target="_blank" class="link-btn"></a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="box">
                                            <img src="assets/img/latest-news/latest-news-5.jpg" alt="image">
                                            <i class="bx bxl-instagram"></i>
                                            <a href="#" target="_blank" class="link-btn"></a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="box">
                                            <img src="assets/img/latest-news/latest-news-6.jpg" alt="image">
                                            <i class="bx bxl-instagram"></i>
                                            <a href="#" target="_blank" class="link-btn"></a>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start News Details Area -->
{% endblock content %}