<!-- Footer Start -->
<!---<footer id="footer" class="footer">
    <div class="utf_footer_main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12 col-xs-12 footer-widget contact-widget">
                    <h3 class="widget-title">Ibitwerekeye</h3>
                    <ul>
                        <li>
                            Byose hano ni urubuga rukugezaho amakuru yizewe kandi kugihe dukurikire kuri website yacu cg kuzindi mbuga zikurikira.
                        </li>
                        <li><i class="fa fa-envelope-o"></i> <a href="#">mail@example.com</a></li>
                    </ul>
                    <ul class="unstyled utf_footer_social">
                        <li><a title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a title="Google+" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a title="Linkdin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a title="Skype" href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a title="Byosehano-Instagram" target="_blank" href="https://instagram.com/byosehano"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-sm-12 col-xs-12 footer-widget widget-categories">
                    <h3 class="widget-title">Izakunzwe</h3>
                    <ul>
                        <li><i class="fa fa-angle-double-right"></i><a href="#"><span
                                    class="catTitle">Imikino</span><span class="catCounter"> (205)</span></a>
                        </li>
                        <li><i class="fa fa-angle-double-right"></i><a href="#"><span
                                    class="catTitle">Ubuzima</span><span class="catCounter"> (06)</span></a>
                        </li>
                        <li><i class="fa fa-angle-double-right"></i><a href="#"><span
                                    class="catTitle">Politiki</span><span class="catCounter"> (25)</span></a>
                        </li>
                        <li><i class="fa fa-angle-double-right"></i><a href="#"><span
                            class="catTitle">Ikoranbuhanga</span><span class="catCounter"> (25)</span></a>
                        </li>
                        <li><i class="fa fa-angle-double-right"></i><a href="#"><span
                            class="catTitle">Sobanukirwa</span><span class="catCounter"> (25)</span></a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-sm-12 col-xs-12 footer-widget">
                    <h3 class="widget-title">Popular Post</h3>
                    <div class="utf_list_post_block">
                        <ul class="utf_list_post">
                            {% for post in popular_news|slice:":3"  %}
                            <li class="clearfix">
                                <div class="utf_post_block_style post-float clearfix">
                                    <div class="utf_post_thumb"> <a href="{{ post.get_absolute_url }}"> <img class="img-fluid"
                                                src="{{ post.thumbnail.url }}" alt=""> </a> </div>
                                    <div class="utf_post_content">
                                        <h2 class="utf_post_title title-small"> <a href="{{ post.get_absolute_url }}">{{ post.title }}</a> </h2>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>-->
<!-- Footer End -->

<!-- Copyright Start -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
                <div class="utf_copyright_info"> <span>Copyright © 2020 All Rights Reserved Byosehano.</span> </div>
            </div>
        </div>
        <div id="back-to-top" class="back-to-top">
            <button class="btn btn-primary" title="Back to Top"> <i class="fa fa-angle-up"></i> </button>
        </div>
    </div>
</div>
<!-- Copyright End -->