{% load static %}

<!--/ Topbar Start -->
<div id="top-bar" class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="unstyled top-nav">
                    <li><a href="{% url 'coronovirus' %}">Coronovirus Live Report</a></li>
                </ul>
            </div>
            <div class="col-md-4 top-social text-lg-right text-md-center">
                <ul class="unstyled">
                    <li> <a title="Facebook" href="https://fb.me/byosehano"> <span class="social-icon"><i
                                    class="fa fa-facebook"></i></span>
                            <!--</a> <a title="Twitter" href="#"> <span class="social-icon"><i class="fa fa-twitter"></i></span>
                        </a><a title="Linkdin" href="#"> <span class="social-icon"><i
                                        class="fa fa-linkedin"></i></span>--> </a> <a title="Rss"
                                href="https://byosehano.com/feed" target="_blank">
                                <span class="social-icon"><i class="fa fa-rss"></i></span> </a> <a title="Instagram"
                                href="https://instagram.com/byosehano" target="_blank">
                                <span class="social-icon"><i class="fa fa-instagram"></i></span> </a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/ Topbar end -->

<!-- Header start -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="logo"> <a href="{% url 'web:index' %}"> <img src="{% static 'logo.png' %}" alt=""> </a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 header-right">
                <div class="ad-banner float-right">
                    <a href="https://smartagri.org" target="_blank"><img src="{% static 'smartagri_ad.gif' %}"
                            class="img-fluid" alt="SmartAgri"></a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--/ Header end -->

<!--/ Main Nav Start -->
<div class="utf_main_nav_area clearfix utf_sticky">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg col">
                <div class="utf_site_nav_inner float-left">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="true" aria-label="Toggle navigation"> <span class="fa fa-bars"
                            style="color: white;"></span></button>
                    <div id="navbarSupportedContent" class="collapse navbar-collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <li class="nav-item dropdown active"> <a href='{% url "web:index" %}'>🏠 Ahabanza</a>
                            </li>
                            <li> <a href="{% url 'main:article_category' 'Imikino' %}">🤸‍♂️ Imikino</a> </li>
                            <li> <a href="{% url 'main:article_category' 'Politiki' %}">🏛️ Politiki</a> </li>
                            <li> <a href="{% url 'main:article_category' 'Ubuzima' %}">👩‍⚕️Ubuzima</a> </li>
                            <li> <a href="{% url 'main:article_category' 'Ikoranabuhanga' %}">📲 Ikoranabuhanaga</a>
                            </li>
                            <li class="nav-item dropdown"><a href="#">✨ Andi makuru</a>
                                <ul class="utf_dropdown_menu" role="menu">
                                    <li><a href="{% url 'main:article_category' 'Sobanukirwa' %}"><i class="fa fa-angle-double-right"></i>Sobanukirwa</a></li>
                                    <li><a href="{% url 'main:article_category' 'Urukundo' %}"><i class="fa fa-angle-double-right"></i>Urukundo</a></li>
                                    <li><a href="{% url 'main:article_category' 'Hirya no Hino' %}"><i class="fa fa-angle-double-right"></i>Hirya no Hino</a></li>
                                  </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="utf_nav_search"> <span id="search"><i class="fa fa-search"></i></span> </div>
            <div class="utf_search_block" style="display: none;">
                <script async src="https://cse.google.com/cse.js?cx=partner-pub-3242762948116825:bk80lqgxitc"></script>
                <div class="gcse-search"></div>
                <span class="utf_search_close">×</span>
            </div>
        </div>
    </div>
</div>
<!--/ Main Nav End -->