{% load humanize %}

{% for post in amakurumashya %}
<div class="col-md-3" id="herP">
    <div class="utf_post_block_style clearfix">
        <div class="utf_post_thumb" onclick="location.href='{{ post.get_absolute_url }}';" style="cursor: pointer;"> <a
                href="#"><img class="img-fluid" src="{{ post.thumbnail.url }}" style="object-fit: cover;height: 200px;"
                    alt="{{ post.title }}"></a> </div>
        <a class="utf_post_cat" href="{{ post.get_absolute_url }}">{{ post.category.name }}</a>
        <div class="utf_post_content">
            <h2 class="utf_post_title title-medium"> <a
                    href="{{ post.get_absolute_url }}">{{ post.title|slice:":80" }}...</a> </h2>
            <div class="utf_post_meta"> <span class="utf_post_author"><i class="fa fa-user"></i>
                    <a href="#">{{ post.author.username|title }}</a></span> <span class="utf_post_date"><i
                        class="fa fa-clock-o"></i>{{ post.publish|naturalday }}</span> </div>
        </div>
    </div>
</div>

{% endfor %}